html{
  height: 100%;
}

body{
  margin: 0;
  font-family: "Arial", "sans-serif";
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  background: #101010;
  margin-top: auto;
}

.container{
  padding: 47px 0 25px;
}

.nav-icon{
  text-decoration: none;
  color: rgba(255, 255, 255, .55);
  font-size: 20px;
  padding: 12px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-icon:hover{
  color: rgb(255, 255, 255);
}

.nav-link.nav-icon{
  text-decoration: none;
  color: rgba(255, 255, 255, .55);
  font-size: 20px;
  padding: 10px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link.nav-icon:hover{
  color: rgb(255, 255, 255);
}


.single-box h3 {
  letter-spacing: .05em;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #3b3b3b;
}

.single-box ul {
  list-style: none;
  padding: 0;
}

.single-box ul li a {
  text-decoration: none;
  color: #969696;
  line-height: 30px;
  font-weight: 100;
}

.bi-linkedin{
  color: #0A66C2;
  padding: 3px;
  font-size: 20px;
}

.bi-facebook{
  color: #1877f2;
  padding: 3px;
  font-size: 20px;
}

.bi-instagram{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 3px;
  font-size: 20px;
}

.bi-github{
  color: #7e7979;
  padding: 3px;
  font-size: 20px; 
}

.single-box a{
  text-decoration: none;
}

#user_id {
  border: none;
}

.addproduct_form {
  text-align: left;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.card-image-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}