{% extends "layout.html" %}

{% block title %}
admin
{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center">
    <form class="addproduct_form" action="/add" method="POST">
      <div class="mb-3">
        <label for="" class="form-label">Product Name</label>
        <input type="text" name="productname" class="form-control" id="" aria-describedby="">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" name="description" class="form-control" id="">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Category</label>
        <select class="form-select" name="category" aria-label=".form-select-sm example">
          <option selected>Select</option>
          <option value="1">Crossbody bags</option>
          <option value="2">PJ sets</option>
          <option value="3">Shoulder bags</option>
          <option value="4">Clutches</option>
          <option value="5">Tate bags</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" name="price" inputmode="numeric" class="form-control" id="">
      </div>  
      <div class="mb-3">
        <input type="file" name="image" class="form-control" id="" aria-describedby="inputGroupFileAddon04"
          aria-label="Upload">
      </div>
      <div>
        <button class="btn btn-primary" type="submit" id="">Add Product</button>
      </div>
    </form>
</div>

{% endblock %}