{% extends "layout.html" %}

{% block tittle %}
    Login
{% endblock %}

{% block main %}
    <form action="/login" method="POST">
        <div class="mb-3">
            <input autofocus autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <button type="submit" class="btn btn-primary">login</button>
    </form>
{% endblock %}