{% extends "layout.html" %}

{% block title %}
admin
{% endblock %}

{% block main %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  {% for product in product_list %}
  <div class="col mb-4">
    <div class="card h-100 addproduct_form">
      <img src="{{ url_for('static', filename=product.imageurl) }}" style="max-height: 350px; max-width: 100%; object-fit: contain;" class="card-img-top img-fluid" alt="incorrect url">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price | rupee }}</p>
        <div class="row">
          <div class="col d-flex flex-row">
            <a href="{{ url_for('edit_product', id=product.id)}}" class="btn btn-outline-secondary btn-sm me-2">
              <i class="bi bi-pencil-square"></i>
            </a>
            <form action="/delete_product" method="POST">
              <input type="hidden" name="product_id" value="{{product.id}}">
              <button class="btn btn-outline-danger btn-sm" type="submit" id="product_id">
                <i class="bi bi-trash3"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}