{% extends "layout.html" %}

{% block title %}
admin
{% endblock %}

{% block main %}
<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th class="text-start">ID</th>
            <th class="text-start">Username</th>
            <th class="text-start">Email</th>
            <th class="text-start">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users_data %}
        <tr>
            <td class="text-start">{{ user["id"] }}</td>
            <td class="text-start">{{ user["username"] }}</td>
            <td class="text-start">{{ user["email"] }}</td>
            <td class="text-start">{{ user["type"] }}</td>
            <td>
                <form action="/delete_user">
                    <input type="hidden" name="id" value="{{ user['id'] }}">
                    <button type="submit">
                        <i class="bi bi-person-x"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}